{% extends "layout.html" %}
{% block content %}

<div style="margin-left:40%;margin-top:20%;border-style:solid;border-width: 2px 2px 2px 2px;padding: 3%;border-radius:5%; border-color:pink;background-color:grey;" >

<form method="post" action="http://127.0.0.1:5000/result">
<pre><b>Store Number: </b> <input type="text" name="store" align="center" width="48" height="48"><br></pre>
<pre><b>Item Number: </b> <input type="text" name="items" align="center" width="48" height="48"><br></pre>
<pre><b>Day : </b><input type="text" name="day" align="center" width="48" height="48"><br></pre>
<pre><b>Month : </b><input type="text" name="month" align="center" width="48" height="48"><br></pre>
<pre><b>Year : </b><input type="text" name="year" align="center" width="48" height="48"><br></pre>

<center><input type="submit" value="Predict Price" alt="Submit" align="center" width="48" height="48"><br></center>
</form>
</div>

{% endblock content %}